@page "/0703ActorsAdressShow"

@using DSS.Models2;

<PageTitle>Actors</PageTitle>
<h1>Actors</h1>
<br />
<table>
    <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Adress</td>
        <td>IMDB</td>
        <td>Oscar</td>
        <td>Bafta</td>
        <td>Bafta</td>
        <td>Bafta</td>
    </tr>
    @foreach (Actor act in filmCrew)
    {
        <tr>
            <td>@act.FirstName</td>
            <td>@act.LastName</td>
            <td>@act.Adress.Street <br/> 
                @act.Adress.PostalCode @act.Adress.City <br/>
                @act.Adress.State</td>
            <td>@act.ImdbMark</td>
            <td>@act.NumberOfOscars</td>
            <td>@act.NumberOfBaftas</td>
            <td><button @onclick="Bragging">Bragging</button></td>
        </tr>
    }
</table>
<br />
<button @onclick="AverageIMDB">Average IMDB</button>
<br />
@if (showResult)
{
    <p> Average IMDB is: @avgIMDB </p>
}
@code {
    private bool showResult = false;
    
    private string message = "";

    private double avgIMDB;

    private Actor[] filmCrew = new Actor[3];

    protected override async Task OnInitializedAsync()
    {
        filmCrew[0] = new Actor()
        {
            FirstName = "John",
            LastName = "Goodman",
            ImdbMark = 9.7,
            NumberOfOscars = 1,
            Adress = new PostalAdress(){
                Street = "Sunset Boulevard 34"
            }
        };
        filmCrew[1] = new Actor()
        {
            LastName = "De Niro",
            ImdbMark = 9.4,
            FirstName = "Robert",
            Adress = new PostalAdress()
        };
        filmCrew[2] = new Actor()
        {
            LastName = "Spacey",
            ImdbMark = 9.6,
            FirstName = "Kevin",
            Adress = new PostalAdress()
        };
       
    }

    private void Bragging(){
        message=filmCrew[0].Bragging()
        }
    }
    
    private void AverageIMDB()
    {
        showResult = true;
        double sum = 0;
        foreach (Actor a in filmCrew)
            sum += a.ImdbMark;
        avgIMDB = sum / filmCrew.Length;
    }
}
